<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <form action='/add' method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    Title
    <input name="title" type="text"><br>
    Description
    <input name="description" type="text">
    <br>
    Release year
    <input name="year" type="text"><br>
    Language
    <select name="language">
      <option value="1">English</option>
      <option value="2">Italian</option>
      <option value="3">Japanesse</option>
      <option value="4">Mandarin</option>
      <option value="5">French</option>
      <option value="6">German</option>
    </select> <br>

    Rental Duration
    <input name="duration" type="text"><br>
    Rental rate
    <input name="rate" type="text"><br>
    Length
    <input name="length" type="text"><br>
    Replacement Cost
    <input name="replacement_cost" type="text"><br>
    Rating
    <input name="rating" type="text"><br>
    <input name="Submit" type="submit">
  </form>
</body>

</html>
